body {

	background-image: url("http://d2rormqr1qwzpz.cloudfront.net/photos/2012/11/26/41646-serenity.jpg");
    background-size: cover;
	font-family: monospace;

}

/*Stuff below governs the start screen*/

.titleContent {
	margin: 10% auto;
    text-align: center;
}

.splashTitle {
	color: #0B0B61;
    font-size: 5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px rgba(27, 25, 25, 0.74);
    position:relative;
    top:70px;
}

.button {
    color: #08088A;
    font-size: 5em;
    text-decoration: none;
    width:10px;
    height:20px;
}
  a.button:hover {
    
    color: #abc;
  }



/*Stuff below governs the Explore screen*/

#exploreBody {
	background-image: url("img/Background2.png");
	background-position: bottom center;
	 background-size: cover;

}

#start{
    width:10px;
    height:10px;
    position:relative;
    top:200px;
    
}

#will{
   width: 10px;
    height: 10px;
    position: absolute;
    top: 55%;
    right: 55%;
}
    
}
body{
	background-image:url("img/Background2.png");
	color: blue;
}

/* font-size, positioning, visibility*/
p{
	font-size: 14px;
	margin: 30px;
	white-space:nowrap;
	overflow: hidden;
	width: 30em;
	animation: type 5s steps(50, end) 1;	
}

/* let's animate, it's super easy */
@keyframes type{
	from{ width: 0;}
}
span{
	animation: blink 1s infinite;
}

@keyframes blink{
	to{ opacity: .0;}
}